{% extends 'blog/base.html'%}
{% load crispy_forms_tags%}
{% load blog_tags oauth_tags%}
{% load static%}

{% block metas%}
    <meta name="description" content="User account management, using the django-allauth social user system, support social accounts such as Weibo, Github, etc., join {{site_end_title}} to see more information.">
    <meta name="keywords" content="django-allauth, social user system, OAuth 2.0">
{% endblock%}

{% block top-file%}
<link href="{% static 'blog/css/account.css'%}?v=20171229.01966" rel="stylesheet">
{% endblock%}

{% block head_title%} profile {% endblock%}

{% block base_content%}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
            <div class="card rounded-0 px-3 px-lg-4">
                <div class="card-header text-center bg-white py-2"><h3 class="my-1 text-info"> profile </h3></div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item text-center border-0" id="profile-avatar">
                            {% get_user_avatar_tag user%}
                        </li>
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold"> Username: </span>
                            <span> {{user.username}} </span>
                        </li>
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold"> Mailbox: </span>
                            <span> {{user.email}} </span>
                        </li>
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold"> Web address: </span>
                            <span> {{user.link}} </span>
                        </li>
                    </ul>
                </div>
                <div class="text-center mb-5" id="social-login">
                    <div class="login-title"><span> More actions </span></div>
                    <div class="more-link mt-3">
                        <a class="btn btn-info btn-sm rounded-0 mx-3" href="{% url 'oauth:change_profile' %}"> Edit profile </a>
                        <a class="btn btn-info btn-sm rounded-0 mx-3" href="{% url 'account_change_password' %}"> change password </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}