{% extends 'blog/base.html' %}
{% load static %}

{% block head_title %}About blog{% endblock %}
{% block metas %}
<meta name="description"content="High Tech">
<meta name="keywords" content="High Tech">
{% endblock %}


{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8" style="line-height:2">
            <div class="card rounded-0 border-0 p-3 f-16">
                <h2 class="font-weight-bold">About Website</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <ul class="pl-4 ml-2">
                </ul>
                <h2 class="mt-2 font-weight-bold">Features</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <h2 class="mt-2 font-weight-bold">Website support</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <ul class="pl-4 ml-2"></ul>
            </div>
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}
