{% extends 'blog/base.html'%}
{% load cache%}
{% load static%}
{% load blog_tags%}

{% block top-file%}
<link href = "{% static 'blog/css/timeline.css'%}?v=1.07" rel = "stylesheet">
{% endblock%}

{% block head_title%} Website construction history, check blog timeline timeline {% endblock%}
{% block metas%}
<meta name = "description" 
    content = "This website is a personal blog built with django + bootstrap4. In the spirit of learning and sharing, the blog project is open source. The source code can be viewed in my Github. The website construction process can be viewed on the page Timeline content."
<meta name = "keywords" content = "Timeline timeline, personal blog site log">
{% endblock%}

{% block base_content%}
{% cache 7200 'cache_timeline_tag'%}
<div class = "container">
    <div class = "page-header mt-0">
        <h1 id = "timeline"> <i class = "fa fa-hourglass-half mr-2"> </i> Website log </h1>
    </div>
    <ul class = "timeline" id = "timeline">
        {% for timeline in timeline_list%}
        {% if timeline.side == 'L'%}
        <li>
            {% else%}
        <li class = "timeline-inverted"> {% endif%}
            <div class = "timeline-badge {{timeline.icon_color}}"> <i class = "{{timeline.icon}}"> </i> </div>
            <div class = "timeline-panel">
                <div class = "timeline-heading">
                    <h2 class = "timeline-title text-info"> {{timeline.title_to_emoji}} </h2>
                    <p class = "mb-1">
                        <span class = "text-muted"> <i class = "glyphicon glyphicon-time"> </i> {{timeline.update_date|date:'Y-m-d'}} </span>
                        <span class = "pull-right" id = "star" title = "{% get_star_title timeline.star_num%}"> {% get_star timeline.star_num%} </span>
                    </p>
                </div>
                <div class = "timeline-body">
                    {{timeline.content_to_markdown | safe}}
                </div>
            </div>
        </li>
        {% empty%}
        <p> There is no timeline for now </p>
        {% endfor%}
    </ul>
</div>
{% endcache%}
{% endblock%}

{% block js-file%}
<script>
$ (document).ready(function () {
    $ (".timeline-body a"). attr ("target", "_ blank");
});

</script>
{% endblock%}