<div class="text-center mt-2 mt-sm-1 mt-md-0 mb-3 f-16">
    {% if page_obj.has_previous %}
    <a class="text-success" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% else %}
    <span class="text-secondary" title="The current page is already the home page">Previous</span>
    {% endif %}
    <span class="mx-2">First&nbsp;{{ page_obj.number }}&nbsp;/&nbsp;{{ paginator.num_pages }}&nbsp;page</span>
    {% if page_obj.has_next %}
    <a class="text-success" href="?page={{ page_obj.next_page_number }}">Next page</a>
    {% else %}
    <span class="text-secondary" title="The current page is already the last page">Next page</span>
    {% endif %}
</div>